<div class="team-edit">
  <div class="team-edit-container container">
    <h1>Editar Time</h1>

    <%= simple_form_for @team do |f| %>
      <div class="card">
        <div class="team-edit-card-body card-body">
          <%= f.input :name, label: "Nome do Time" %>
          
          <div class="d-flex justify-content-between">
            <%= link_to "Cancelar", @team, class: "btn btn-secondary" %>
            <%= f.submit "Atualizar Time", class: "btn btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>