.championship-show-container {
    background-color: #198754;
    color: white;
}

.championship-show-card-body {
    background-color: #10693f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}

.match-round-col {
    background-color: #198754;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-height: 50px;
    max-width: 400px;
    margin: 5px;
    padding: 5px;

    &.finished {
        background-color: #4e4e4e;
    }

    .badge {
        color: yellow;
        border: white 1px solid;
    }
}
