.championship-show-container {
    background-color: #198754;
    color: white;
}

.championship-show-card-body {
    background-color: #1d975e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .match-date {
        text-align: center;
        display: block;
        margin-bottom: 5px;
        font-size: 0.8rem;
    }
}

.btn-outline-light {
    &:hover {
    color: #1d975e;
    }
}

.last-matches-container {

    &.finished {
        background-color: #6b8f7e;
        border-radius: 10px;
    }
}

.last-matches-row {
    background-color: #198754;
    color: white;
    margin-bottom: 10px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;


    &.finished {
        background-color: #4b6458;
    }

    .last-results {
        display: grid;
        grid-template-columns: 1fr auto auto auto 1fr;
        align-items: center;
        justify-items: center;
        min-height: 50px;
    }

    .team-home {
        justify-self: start;
        word-wrap: break-word;
        hyphens: auto;
        max-width: 150px;
        text-align: left;
    }

    .team-away {
        justify-self: end;
        word-wrap: break-word;
        hyphens: auto;
        max-width: 150px;
        text-align: right;
    }

    .goals {
        font-weight: bold;
        min-width: 20px;
        text-align: center;
    }

    .result-badge {
        text-align: center;

        .bg-light {
            color:#198754;

        }
    }

    @media (max-width: 576px) {
      .last-results {
        grid-template-columns: 1fr auto auto auto 1fr;
        gap: 5px;
      }

      .team-home,
      .team-away {
        max-width: none;
      }
    }
}
