.team-new {
    display: flex;
    justify-content: center;
    height: 275px;

    h1 {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    }

  .team-new-container {
    background-color: #198754;
    color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto;
  }

  .team-new-card-body {
    background-color: #1d975e;
    color: white;
    border-radius: 5px;
  }

  .btn-outline-light{
    &:hover {
      color: #1d975e;
    }
  }
}
