.team-show {
    display: flex;
    justify-content: center;

    h1 {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    }

    h3 {
      margin-left: 10px;
    }

  .team-show-container {
    background-color: #198754;
    color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }

  .team-show-card-body {
    background-color: #1d975e;
    color: white;
  }

  td {
    background-color: #1d975e;
    color: white;
    text-shadow: none;
  }

  .card-header {
    background-color: #198754;
    color: white;
    border: none;

  }

  .team-card {
    height: auto;
    border: none;
  }

  .actions-card {
    height: auto;
    border: none;
  }

  .matches-card {
    height: auto;
    border: none;
  }

  .stats-card {
    height: auto;
    border: none;
  }

  .budget-display {
    background: linear-gradient(45deg, #198754, #1d975e);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    
    .amount {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .text-player-show {
    color: white;
    text-shadow: none;
    font-weight: bold;

    &:hover {
      text-shadow: 0 1px 1px black;
      color: white;
    }
  }

  .player-position-g,
  .player-position-d,
  .player-position-m,
  .player-position-a {
    border: none;
  }
}




