.player-box-sell {
    padding: 0;
    margin: 0;
}

.market-card-sell {
    padding: 0;
    margin: 0;
}

.player-box-buy {
    padding: 0;
    margin: 0;
}

.market-card-buy {
    padding: 0;
    margin: 0;
}

.table {
    td, th {
    padding: 0;
    margin: 0;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    }
}

.action-button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 2px;
    margin-right: 3px;
}
