<% if notice %>
  <div data-controller="flashes" data-flashes-message-value="<%= notice %>" data-flashes-type-value="info"></div>
<% end %>
<% if alert %>
  <div data-controller="flashes" data-flashes-message-value="<%= alert %>" data-flashes-type-value="success"></div>
<% end %>
