<div class="home">
    <div class="home-container container">
        <h1><i class="fa-solid fa-futbol fa-bounce fa-xs" style="color: #ffffff;"></i> Bem-vindo ao Esporte Mestre </h1>
        <p>O melhor gerenciador de esportes, times e jogadores!</p>

        <% if user_signed_in? %>
            <div class="actions">
                <div class="action-btn">
                    <%= link_to "Ver Seus Times", teams_path, class: "home-btn btn btn-light" %>
                </div>
                <div class="action-btn">
                    <%= link_to "Criar Novo Time", new_team_path, class: "home-btn btn btn-light" %>
                </div>
            </div>
        <% else %>
            <div class="actions">
                <div class="action-btn">
                    <%= link_to "Sign Up", new_user_registration_path, class: "home-btn btn btn-light" %>
                </div>
                <div class="action-btn">
                    <%= link_to "Log In", new_user_session_path, class: "home-btn btn btn-light" %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="features-row">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-users fa-3x"></i>
                    <h5 class="card-title">Gerencie Times</h5>
                    <p class="card-text">Crie e gerencie times.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-trophy fa-3x"></i>
                    <h5 class="card-title">Partidas Épicas</h5>
                    <p class="card-text">Jogue partidas emocionantes com jogadores exclusivos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-exchange-alt fa-3x"></i>
                    <h5 class="card-title">Mercado de Transferências</h5>
                    <p class="card-text">Compre e venda jogadores no mercado dinâmico de transferências.</p>
                </div>
            </div>
        </div>
    </div>
</div>