.navbar-myproject {
  justify-content: space-between;
  background-color: #198754;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.navbar-myproject .navbar-collapse {
  flex-grow: 0;
}

.navbar-myproject .navbar-brand img {
  width: 55px;
  height: 40px;
}

.nav-link {
  color: white;
}

img {
  border-radius: 5px;

  &:hover {
    opacity: 0.8;
  }
}
