@import "bootstrap";

@import "config/colors";
@import "config/fonts";
@import "components/index";
@import "pages/index";
@import "devise/sessions/new";
@import "devise/registrations/new";
@import "devise/passwords/new";
@import "teams/show";
@import "teams/index";
@import "teams/new";
@import "teams/edit";
@import "matches/new";
@import "matches/show";
@import "matches/index";
@import "markets/index";
@import "players/index";
@import "players/show";
@import "championships/show";

body {
  background-color: #10693f;
  margin-top: 60px;
}

.swal-container .swal-popup {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.swal-title {
  text-align: center;
}

.swal-text {
  text-align: center;
}

.swal-icon {
  margin: 1.5em auto 0 !important;
}

.swal-actions {
  justify-content: center !important;
}
